{% extends "base.html" %}

{% block main %}

            <div class="slider_section banner_main">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="first-slide" src="/static/home/images/banner.jpg" alt="First slide">
                            <div class="container">
                                <div class="carousel-caption relative" style="width: 45%;">
                                    <h1 style="line-height: 70px !important;"> Exactitude<br>
                                <strong class="dark_brown" style="font-size: 38px; line-height: 50px;" >  Diseases Predicting software using Machine Learning </strong></h1>
                                </div>
                            </div>
                        
                       
                            </div>
                        </div>
                    </div>
                    
                </div>

            {% endblock %}